.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  margin: 92px auto 24px;
}

.footer__copyrights {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 984px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    margin-top: 64px;
  }

  .footer__copyrights {
    line-height: 14px;
  }
}
