.header {
  max-width: 100%;
  background-color: #2a2c2f;
  color: white;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 34px 0 0;
}

.header__logo {
  margin: 0 auto 90px;
}

@media screen and (max-width: 984px) {
}

@media screen and (max-width: 720px) {
  .header {
    padding-top: 20px;
  }

  .header__logo {
    max-width: 200px;
    margin-bottom: 50.15px;
  }
}
