.photo-grid {
  max-width: 1184px;
  box-sizing: border-box;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.photo-grid__item {
  max-width: 284px;
}

@media screen and (max-width: 1184px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .photo-grid__item {
    max-width: 352px;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 12px;
  }

  .photo-grid__item {
    max-width: 100%;
  }
}
